<div class="container">
    <h2>Employee List</h2>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>N° du Compte</th>
            <th>Type de Contrat</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.fullname }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.accountNumber }}</td>
            <td>{{ employee.contractType }}</td>
            <td>
              <button class="btn btn-primary" (click)="editEmployee(employee.id)">Edit</button>
              <button class="btn btn-danger" (click)="deleteEmployee2(employee.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  